body {
  background-color: #333;
  color: #fff; }

.navbar {
  border-bottom: 3px solid #008ed6;
  background-color: #292b2c;
  opacity: 0.7; }

#home {
  background: url("uu.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed; }
  #home .over-delay {
    background-color: rgba(0, 0, 0, 0.7); }
  #home .card-box {
    opacity: 0.8; }
  #home .icon-f {
    padding: 4px;
    font-size: 30px;
    background: #fff;
    color: #0275d8;
    border-radius: 5px; }
  #home .inner {
    padding-top: 150px;
    padding-bottom: 50px; }

#explore-main .icon-g {
  padding: 4px;
  font-size: 30px;
  background-color: #292b2c;
  color: #fff;
  border-radius: 5px; }

#create-main .fa {
  padding: 4px;
  font-size: 30px;
  background: #fff;
  color: #0275d8;
  border-radius: 5px; }

#share-main .icon-g {
  padding: 4px;
  font-size: 30px;
  background-color: #292b2c;
  color: #fff;
  border-radius: 5px; }

@media (max-width: 576px) {
  #home h1 {
    font-size: 32px; } }
